
__pycache__/ofx_parser.cpython-38.pyc
TransactionHistory.ofx
transactions_db.py
__pycache__/functions.cpython-38.pyc
Cedar-of-Lebanon-adr090510670.psd
Cedar-of-Lebanon-adr090510670.jpg
django/antioch/antioch/__pycache__/__init__.cpython-38.pyc
django/antioch/antioch/__pycache__/settings.cpython-38.pyc
django/antioch/antioch/__pycache__/urls.cpython-38.pyc
django/antioch/antioch/__pycache__/wsgi.cpython-38.pyc
django/antioch/budget/__pycache__/__init__.cpython-38.pyc
django/antioch/budget/__pycache__/admin.cpython-38.pyc
django/antioch/budget/__pycache__/apps.cpython-38.pyc
django/antioch/budget/__pycache__/models.cpython-38.pyc
django/antioch/transactions/__pycache__/__init__.cpython-38.pyc
django/antioch/transactions/__pycache__/admin.cpython-38.pyc
django/antioch/transactions/__pycache__/apps.cpython-38.pyc
django/antioch/transactions/__pycache__/views.cpython-38.pyc
django/antioch/transactions/__pycache__/urls.cpython-38.pyc
django/antioch/transactions/__pycache__/models.cpython-38.pyc
django/antioch/budget/migrations/__pycache__/__init__.cpython-38.pyc
django/antioch/transactions/migrations/__pycache__/0001_initial.cpython-38.pyc
django/antioch/transactions/migrations/__pycache__/__init__.cpython-38.pyc
django/antioch/transactions.sqlite3
django/antioch/transactions.sqlite3
django/antioch/transactions.sqlite3
*.sqlite3
django/antioch/launch_server.bat
*.pyc
*.sqlite3
*.sqlite3
django/antioch/transactions/templates/archive/index.html
*.sqlite3
