{% extends "base_generic.html" %}

{% block content %}
    <h1> Preview imported transactions </h1>
	{% for filename, ofx in ofx_objects.items %}
    	{% for transaction in ofx.transactions %}
            <div class="single-tpreview">
                <div class="tpreview-date">{{ transaction.date_posted }}</div>
                <div class="tpreview-cparty">{{ transaction.counter_party }}</div>
                <div class="tpreview-ref">{{ transaction.reference }}</div>
                <div class="tpreview-amount">{{ transaction.get_amount_formatted }}</div>
            </div>
		{% endfor %}
	{% endfor %}
{% endblock %}