{% extends "base_generic.html" %}

{% block content %}
  <h1>Transactions List</h1>
  <p>Welcome to Antioch, a website developed by <em>Marcus Hickman</em>!</p>
  <p>The transactions database has the following record counts:</p>
  <ul>
    <li><strong>Account:</strong> {{ num_accounts }}</li>
    <li><strong>Transaction detail elements:</strong> {{ num_details }}</li>
    <li><strong>Transactions:</strong> {{ num_transactions }}</li>
    <li><strong>Savings transactions:</strong> {{ num_savings }}</li>
  </ul>
{% endblock %}